name: PR
on:
  pull_request:

jobs:
  test:
    name: Test Action
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write
    steps:
      # Rebuild ./dist
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24.x
      - name: Rebuild the dist/ directory
        run: npm run dist 
     
     # Test action
      - uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          add_markdown: |
            ---

            # Things!
            ## Excitement!
            [Links!](https://google.ca)
            `Code!`

      # Test with different inputs
      - uses: ./
        with:
          add_markdown: |
            ---

            # Things!
            ## Excitement!
            [Links!](https://google.ca)
            `Code!`
